In [34]:
%config Completer.use_jedi = False
%load_ext autoreload
%autoreload 2

In [35]:
import pandas as pd
import numpy as np
import torch

In [36]:
#all columns must be identical to be consider the same species
trait_columns = ['X4_mean', 'X11_mean', 'X18_mean', 'X50_mean', 'X26_mean', 'X3112_mean']
aux_columns = list(
            map(lambda x: x.replace("mean", "sd"), trait_columns)
        )

In [37]:
df = pd.read_csv('/home/ubuntu/FGVC11/data/PlantTrait/df_processed.csv')

In [39]:
df.split.value_counts()

train    43037
test      6545
val       5972
Name: split, dtype: int64

In [32]:
df[aux_columns].describe()

,X4_sd,X11_sd,X18_sd,X50_sd,X26_sd,X3112_sd
count,55554.000000,55554.000000,55554.000000,55554.000000,55554.000000,55554.000000
mean,0.004292,0.571541,0.199052,0.040491,1.622844,131.585161
std,0.008898,1.248253,0.584896,0.081083,9.140633,405.630517
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.002695,0.136090,0.018110,0.013534,0.021614,10.375660
75%,0.005529,0.461571,0.120252,0.040138,0.349162,84.365770
max,0.284052,20.578559,10.097846,1.721833,328.725942,14460.755789

In [33]:
df[trait_columns].describe()

,X4_mean,X11_mean,X18_mean,X50_mean,X26_mean,X3112_mean
count,55554.000000,55554.000000,55554.000000,55554.000000,55554.000000,55554.000000
mean,0.452789,13.907804,2.252462,1.393314,16.969752,1300.792687
std,0.209653,8.189753,4.049120,0.748973,49.908438,1951.040578
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.368824,8.590398,0.201960,1.022802,0.202938,143.250464
50%,0.473778,14.343725,0.510616,1.393763,1.456990,519.442038
75%,0.598398,18.934532,2.013909,1.806646,8.489919,1605.332660
max,0.856600,40.478892,23.294858,3.584879,492.559161,12978.600313

In [29]:
torch.normal(mean=torch.tensor(0.1), std=torch.tensor(0))

tensor(0.1000)

In [5]:
df.split.value_counts()

train    43037
test      6545
val       5972
Name: split, dtype: int64

In [40]:
df_train[aux_columns][df_train[aux_columns] == 0] = 0.0001

/tmp/ipykernel_2909/2743509207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train[aux_columns][df_train[aux_columns] == 0] = 0.0001
/tmp/ipykernel_2909/2743509207.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_train[aux_columns][df_train[aux_columns] == 0] = 0.0001

In [41]:
df_train[aux_columns].describe()

,X4_sd,X11_sd,X18_sd,X50_sd,X26_sd,X3112_sd
count,49009.000000,49009.000000,49009.000000,49009.000000,49009.000000,49009.000000
mean,0.004866,0.647868,0.225634,0.045898,1.839570,149.157951
std,0.009325,1.310257,0.617894,0.084878,9.711370,428.822432
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.003395,0.193336,0.031728,0.017916,0.046384,19.259531
75%,0.005986,0.548530,0.143905,0.046822,0.475021,106.283475
max,0.284052,20.578559,10.097846,1.721833,328.725942,14460.755789

In [39]:
df_train[trait_columns].describe()

,X4_mean,X11_mean,X18_mean,X50_mean,X26_mean,X3112_mean
count,49009.000000,49009.000000,49009.000000,49009.000000,49009.000000,49009.000000
mean,0.513258,15.765148,2.553271,1.579387,19.236010,1474.509518
std,0.137069,6.837221,4.221007,0.584798,52.724851,2014.639313
min,0.006996,1.347339,0.004113,0.076517,0.000179,1.108830
25%,0.408186,11.137467,0.292925,1.176888,0.484909,249.790400
50%,0.499013,15.384302,0.637308,1.463930,2.104612,658.022926
75%,0.613369,19.599075,2.656578,1.877676,11.127102,1859.130555
max,0.856600,40.478892,23.294858,3.584879,492.559161,12978.600313

In [42]:
df_train = df[df.split != 'test'].reset_index(drop=True)

In [22]:
# add species column
df_train['species'] = df_train.groupby(trait_columns).ngroup()
# df['species'] = df['species'].astype(str)

In [24]:
len(sorted(df_train['species'].unique()))

17396

In [27]:
df_train.species.value_counts()

14524    12
595      11
4818     11
105      10
13108     9
         ..
16209     1
3893      1
11637     1
15379     1
11765     1
Name: species, Length: 17396, dtype: int64

In [31]:
df_train["X4_sd"].describe()

count    49009.000000
mean         0.004866
std          0.009325
min          0.000000
25%          0.000000
50%          0.003395
75%          0.005986
max          0.284052
Name: X4_sd, dtype: float64

In [33]:
import torch

# Example data
data = {
    "label": torch.tensor([0.5, 0.3, 0.7, 0.2, 0.8, 0.6]),  # Mean values
    "aux_label": torch.tensor([0, 1, 0.15, 0.1, 0.05, 0.08])  # Standard deviations
}

# Means and standard deviations
means = data["label"]
stds = data["aux_label"]

Original Means: tensor([0.5000, 0.3000, 0.7000, 0.2000, 0.8000, 0.6000])
Augmented Values: tensor([ 0.5000, -0.2671,  0.7030,  0.0889,  0.8417,  0.5085])

In [36]:
# Sampling from a normal distribution using the means and stds
random_samples = torch.normal(means, stds)

# Print the original and the augmented tensors
print("Original Means:", means)
print("Augmented Values:", random_samples)

Original Means: tensor([0.5000, 0.3000, 0.7000, 0.2000, 0.8000, 0.6000])
Augmented Values: tensor([0.5000, 2.4744, 0.8196, 0.0747, 0.7607, 0.5568])